.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 100px;
    max-width: 300px; */
    width: 225px;
    height: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    /* margin: 0.95rem; */
    color: black
}
.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    object-fit: fill;
    height: 195px;
    width: 250px; 
}

.img-container {

    object-fit: contain
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
    width: 100%;
}
p.line{
    line-height: 1.6;
}

.card-footer {
    padding: 0.75rem 0.0rem; 
    background-color: white;
    border-top: 0px;
}


.btn-sm {
    padding: 0.25rem 1.1rem;
    font-size: 1rem;
} 

.line{
    font-size: 80%;
}

.price{
    font-size: 95%;
    color: green;
    font-weight: bold
}

.card-title{
    margin-bottom: 5px
}

.rent-duration{
    font-size: 80%
}

button{
    float: left
}